
html{
  scroll-behavior: smooth;
  overflow: hidden;
}
p{
  font-family: 'Space Mono', monospace;
}


body {
  text-align:center;
    margin: 0;
    padding: 0;
    background-color: #303030;

}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-family: 'Fjalla One', sans-serif;
}
h4{
  font-family: 'Roboto', sans-serif;
}
.titulos_2{

  font-size: 50px;
  font-family: 'Fjalla One', sans-serif;

}

.titulos_3{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}


.div_mov:hover{
  background: rgb(172, 172, 172);
  border-color: rgb(255, 255, 255);
  box-shadow:rgb(103, 103, 103);

}
.div_mov {
  position: fixed;
  top: 100px;
  right:10px;
  background: rgb(49, 49, 49);
  color: rgb(67, 67, 67);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  scroll-behavior: smooth;
}


.div_mov:nth-child(1) {
  position: fixed;
  top: 44%;
  right:10px;

}
.div_mov:nth-child(2) {
  position: fixed;
  top: 48%;
  right:10px;

}
.div_mov:nth-child(3) {
  position: fixed;
  top: 52%;
  right:10px;

}
.div_mov:nth-child(4) {
  position: fixed;
  top: 56%;
  right:10px;

}


#scroll_0{
  margin-top: -67px;
  background-color:#ff6961;
  background-size: cover;
  height: 100vh;


}
#scroll_1{

  background-image: url("resources/fondo2.jpg");
  background-size: cover;
  height: 100vh;
  color:white;
}
#scroll_2{
  background-image: url("resources/fondo4.jpg");

  background-size: cover;

  height: 100vh;
  color: white;
}
#scroll_3{
  background-image: url("resources/fondo5.gif");
  background-size: cover;
  background-origin: center;
  height: 100vh;
}
#interested{
  color: rgb(0, 0, 0);
}
#scroll_4 {
  background-color: #ffda9e;
  background-size: cover;
  height: 100vh;
  

}

a {
  cursor: pointer;
  color: transparent;
  text-decoration: none;
}
#gmail{
  width: 10%;
}
#discord{
  width: 10%;
}
ul{
  text-align:left;
  font-family: 'Roboto', sans-serif;
}
